@import "tailwindcss";

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) scale(1.3);
    opacity: 0;
  }
}

.animate-float {
  animation-name: float;
  animation-timing-function: ease-in;
}